.product {
    // .product__features
    &__features {
        margin-top: 3rem;
        text-align: center;
        order: 1;
        padding: 0 2rem;
        @include mq($from: desktop) {
            max-width: fit-content;
            margin: 5rem auto;
            padding: unset;
        }

        // .product__features-title
        &-title {
            font-family: $blaak;
            font-size: 20px;
            font-weight: 900;
            line-height: 0.77;
            text-align: center;
            color: #fff;
            margin-bottom: 0.5rem;
            @include mq($from: desktop) {
                font-size: 35.4px;
                line-height: 27.4px;
            }
        }
        // .product__features-text
        &-text {
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
            font-size: 13px;
            font-weight: bold;
            line-height: 1.37;
            letter-spacing: 0.2px;
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
            @include mq($from: desktop) {
                font-size: 23px;
                line-height: 31.6px;
            }
        }
        // .product__features-list
        &-list {
            margin-top: 1.5rem;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            gap: 0.5rem;
            @include mq($from: desktop) {
                gap: 1rem;
                margin-top: 2rem;
            }
        }
        // .product__features-item
        &-item {
            border-radius: 8.7px;
            background-color: #050505;
            padding: 1rem 0.5rem;
            min-width: 100px;
            @include mq($from: desktop) {
                min-width: 160px;
                padding: 2.5rem 0.5rem 1.5rem;
            }
            img {
                margin-bottom: 1rem;
                height: 50px;
                width: 45px;
                object-fit: contain;
                @include mq($from: desktop) {
                    margin-bottom: 2rem;
                    height: 55px;
                    width: 75px;
                }
            }
        }
        // .product__features-itemtitle
        &-itemtitle {
            flex-grow: 0;
            font-family: $blaak;
            font-size: 13px;
            font-weight: 900;
            line-height: 0.77;
            text-align: center;
            color: #fff;
            display: block;
            @include mq($from: desktop) {
                font-size: 23px;
                line-height: 17.8px;
            }
        }
    }

    // .product__banner
    &__banner {
        min-height: 130px;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        left: 0;
        margin-top: 3rem;
        order: 2;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include mq($from: desktop) {
            padding: 6rem 0;
        }
        // .product__banner-title
        &-title {
            text-shadow: 0 4.4px 6.6px rgba(0, 0, 0, 0.25);
            font-family: $bebas;
            color: #fff;
            font-size: 26.6px;
            line-height: 0.81;
            letter-spacing: 1px;
            text-align: left;
            text-transform: uppercase;
            max-width: 120px;
            margin-left: 2rem;
            @include mq($from: desktop) {
                letter-spacing: 3px;
                font-size: 105px;
                margin-left: 10rem;
                max-width: 430px;
            }
            @include mq($from: desktop-md) {
                margin-left: 15rem;
            }
        }

        // .product__banner-title
        &-bottom {
            width: 100%;
            position: static;
            order: 4;

            &-title {
                max-width: 150px;
                margin-left: auto;
                margin-right: 1rem;
                font-size: 26.6px;
                line-height: 0.81;
                @include mq($from: desktop) {
                    font-size: 100px;
                    text-shadow: 0 16.4px 24.6px rgb(0 0 0 / 25%);
                    max-width: 500px;
                    margin-right: 6%;
                }
            }
        }
    }

    .duplicate-elements {
        position: sticky;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: #040404;
        z-index: 10;
        display: flex;
        justify-content: unset;
        align-items: center;
        padding: 1.5rem 2rem 5rem;
        margin-top: 1rem;
        // display: none;
        @include mq($from: desktop) {
            display: flex;
            justify-content: center;
            padding: 1.5rem 0;
            margin-top: 0;
        }
        .product-image-side {
            margin-right: 1.5rem;
            @include mq($from: desktop) {
                margin-right: 2rem;
            }
            img {
                height: 100px;
                width: 100px;
                object-fit: cover;
                @include mq($from: desktop) {
                    height: 160px;
                    width: 150px;
                }
            }
        }

        .product-details-side {
            flex-basis: 40%;
        }

        .buy-button {
            .variations_form {
                display: flex;

                .woovr-variations {
                    .woovr-variation-info {
                        height: 40px;
                        @include mq($from: desktop) {
                            height: 55px;
                        }
                    }
                }
            }
        }
        .product_title {
            font-size: 16px;
            margin-bottom: 0.5rem;
            font-weight: 400;
            max-width: unset;
            line-height: 0.94;
            text-align: left;
            color: #fff;
            font-family: $blaak;
            position: relative;
            text-transform: lowercase;
            @include mq($from: desktop) {
                font-size: 28px;
                margin-bottom: 1rem;
            }
        }

        .product-short-description {
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
            font-size: 13px;
            font-weight: bold;
            line-height: 16px;
            height: 32px;
            letter-spacing: 0.2px;
            text-align: left;
            color: #fff;
            max-width: 500px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @include mq($from: desktop) {
                font-size: 18px;
                margin-bottom: 0.8rem;
            }
        }

        .price {
            display: none;
        }

        .cart {
            .woovr-variations {
                display: flex;

                .woovr-variation {
                    &[data-id="0"],
                    &-selector,
                    &-image,
                    &-price {
                        display: none;
                    }

                    &-name {
                        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                        font-family: $lekton;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 1.37;
                        letter-spacing: 0.27px;
                        text-align: left;
                        color: #fff;
                        border-radius: 3px;
                        border: solid 2px #fff;
                        width: 40px;
                        height: 40px;
                        margin-right: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-top: 3px;
                        transition: all 0.5s ease;
                        @include mq($from: desktop) {
                            font-size: 26px;
                            width: 50px;
                            height: 50px;
                        }
                    }

                    &__extra {
                        display: none;
                    }

                    &:hover {
                        background-color: unset;

                        .woovr-variation-name {
                            background-color: #fff;
                            color: #000;
                            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                        }
                    }

                    &-active {
                        .woovr-variation-name {
                            background-color: #fff;
                            color: #000;
                            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                        }
                    }
                }
            }

            .quantity {
                display: none !important;
            }

            .single_add_to_cart_button:not(.wpcbn-btn-single) {
                display: none;
            }

            [name="buy-now"].single_add_to_cart_button {
                font-family: $lekton;
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                color: #000;
                width: auto;
                position: absolute;
                left: 0;
                right: 0;
                margin: 4rem 2rem auto;
                height: 45px;

                @include mq($from: desktop) {
                    font-size: 23.1px;
                    width: 250px;
                    bottom: 0;
                    top: 0;
                    left: 70%;
                    margin: auto;
                    height: 70px;
                }
            }

            .accordion {
                display: none;
            }

            .single_variation_wrap {
                .added_to_cart.wc-forward {
                    display: none;
                }
            }
        }
    }
}
@include mq($until: desktop) {
    .home {
        .product {
            // .product__features
            &__features {
                display: none;
            }

            // .product__banner
            &__banner {
                display: none;
            }
        }
    }
}

.woocommerce-notices-wrapper,
.woocommerce-NoticeGroup {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    font-family: "Lekton";
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 80%;
    margin: auto;
    z-index: 2;
    ul,
    div {
        padding: 1rem;
        margin: 0;

        li {
            list-style: none;
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.error404 {
    .error-404.not-found {
        padding: 0 2rem;
        font-family: "Lekton";
        margin: 10rem 0 5rem;
    }
    .page-content {
        display: none;
    }
}

#notifyMePopup {
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background-color: rgba(217, 217, 217, 0.02);
    .modal-content {
        background-color: #fff;

        .modal-body {
            padding: 1.5rem;
            @include mq($from: desktop) {
                padding: 2rem;
            }
        }
    }
    .btn-close {
        opacity: 1;
        position: absolute;
        font-size: 1rem;
        z-index: 1;
        top: 10px;
        right: 10px;
        font-weight: 700;
        @include mq($from: desktop) {
            top: 12px;
            right: 12px;
        }
    }
    .model-title {
        font-family: $blaak-black-regular;
        font-size: 14px;
        color: #000;
        @include mq($from: desktop) {
            font-size: 24px;
        }
    }
    .notify-me-form {
        display: flex;
        border: 1px solid #000;
        border-radius: 6px;
        input {
            padding: 0.5rem 0.8rem;
            font-family: $lekton;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: -0.12px;
            text-align: left;
            color: #fff;
            background-color: #0d0c0c;
            min-width: 200px;
            flex-basis: 80%;
            border: none;
            @include mq($from: desktop) {
                font-size: 20px;
            }
        }

        .notify-me-button {
            -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
            background-color: #fff;
            -webkit-text-stroke: 0.2px #000;
            font-family: $lekton;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: -0.16px;
            text-align: center;
            color: #000;
            flex-basis: 20%;
            border: none;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            @include mq($from: desktop) {
                font-size: 24px;
            }
        }
    }
}

// Hide opacity of the Side Cart overlay
.xoo-wsc-modal {
    display: none;
}

.alternate-cart-products {
    background: #171616;
    margin: 0 -2rem;
    padding: 2rem;
    padding-bottom: 6rem;
    .cart-product-set-text {
        font-family: $blaak-black-regular;
        font-style: normal;
        font-weight: 700;
        font-size: 21.3333px;
        line-height: 93.9%;
        text-align: center;
        color: #ffffff;

        span {
            color: #bbcea8;
        }
    }

    .add-alternate-product-to-cart-text {
        font-family: $lekton;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 116%;
        text-align: center;
        letter-spacing: 0.015em;
        color: #ffffff;
        text-shadow: 0px 2px 6px rgb(0 0 0 / 25%);
        max-width: 220px;
        margin: 1rem auto 1.5rem;
    }

    ul.products {
        background: #ffffff;
        box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.07);
        border-radius: 9px;
        padding: 8px;
        position: relative;
        &::before {
            position: absolute;
            content: url("/wp-content/themes/kirgo-theme/assets/images/icons/cart_dark.svg");
            z-index: 11;
            top: 10px;
            right: 10px;
        }
        .product {
            display: flex;
            margin: 0;
            height: 130px;
            @include mq($from: desktop) {
                width: unset;
                float: unset;
            }
            .cart-product-img {
                img {
                    border-radius: 9px;
                    width: 120px;
                    height: 100%;
                    object-fit: cover;
                    margin-right: 2rem;
                }
            }
            .cart-product-details {
                .cart-product-title {
                    max-width: 135px;
                    a {
                        font-family: $blaak-black-regular;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20.7619px;
                        line-height: 0.2;
                        color: #0d0c0c;
                        text-decoration: none;
                        text-transform: lowercase;
                        &::after {
                            content: "";
                            width: 40%;
                            border: 1px solid #000;
                            height: 5px;
                            display: block;
                            border-radius: 5px;
                            margin-top: 0.4rem;
                            @include mq($from: desktop) {
                                height: 6px;
                                margin-top: 1.25rem;
                            }
                        }
                    }
                }

                .woocommerce-product-details__short-description {
                    font-family: $lekton;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 20px;
                    letter-spacing: 0.015em;
                    color: #0d0c0c;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
            .product-size-modal-button {
                position: absolute;
                bottom: -5rem;
                font-family: $lekton;
                font-style: normal;
                font-weight: 700;
                font-size: 15.7895px;
                line-height: 16px;
                color: #ffffff;
                border: 1px solid #ffffff;
                filter: drop-shadow(0px 5px 9px rgba(0, 0, 0, 0.25));
                border-radius: 4.73684px;
                background-color: #0000;
                display: flex;
                width: 100%;
                padding: 1rem 0;
                justify-content: center;

                .woocommerce-Price-amount {
                    color: #bbcea8;
                }
            }
        }

        .cart-product-size-modal {
            -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
            background-color: rgba(217, 217, 217, 0.02);
            .modal-dialog {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                margin: 0;
                top: unset;
                min-height: unset;
                @include mq($from: desktop) {
                    position: unset;
                    margin: auto;
                    min-height: -webkit-fill-available;
                }

                .modal-content {
                    background-color: #000;
                    padding: 2rem;

                    .modal-body {
                        padding: 0;
                        .modal-title {
                            font-family: $blaak-black-regular;
                            font-size: 21px;
                            font-weight: 900;
                            line-height: 1.2;
                            text-align: center;
                            color: #fff;
                            text-transform: lowercase;
                            margin-bottom: 1rem;
                            @include mq($from: desktop) {
                                font-size: 30px;
                            }
                            span {
                                color: #bbcea8;
                            }
                        }
                    }
                }
            }
            .cart {
                .woovr-variations {
                    margin: auto;
                    display: flex;
                    justify-content: space-between;
                    width: 75%;
                    @include mq($from: desktop) {
                        width: 65%;
                    }
                    .woovr-variation {
                        &[data-id="0"],
                        &-selector,
                        &-image,
                        &-price {
                            display: none;
                        }

                        &-name {
                            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                            font-family: $lekton;
                            font-size: 35px;
                            font-weight: bold;
                            line-height: 1.37;
                            letter-spacing: 0.27px;
                            text-align: left;
                            color: #fff;
                            border-radius: 6px;
                            border: solid 4px #fff;
                            width: 70px;
                            height: 70px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-top: 3px;
                            transition: all 0.5s ease;
                            @include mq($from: desktop) {
                                font-size: 37px;
                                width: 80px;
                                height: 80px;
                            }
                        }

                        &__extra {
                            display: none;
                        }

                        &:hover {
                            background-color: unset;

                            .woovr-variation-name {
                                background-color: #fff;
                                color: #000;
                                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                            }
                        }

                        &-active {
                            .woovr-variation-name {
                                background-color: #fff;
                                color: #000;
                                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                            }
                        }
                    }
                }

                .single_variation_wrap {
                    .added_to_cart.wc-forward {
                        display: none;
                    }
                }

                .quantity {
                    display: none !important;
                }

                .single_add_to_cart_button:not(.wpcbn-btn-single) {
                    display: none;
                }

                [name="buy-now"].single_add_to_cart_button {
                    font-family: $blaak-black-regular;
                    font-size: 14px;
                    font-weight: 900;
                    line-height: 3.5;
                    text-align: center;
                    color: #000;
                    padding: 0;
                    @include mq($from: desktop) {
                        font-size: 24px;
                        line-height: 2.5;
                    }
                }

                .accordion {
                    display: none;
                }
            }
        }
    }
}

.woocommerce-Price-currencySymbol {
    letter-spacing: 7px;
}

.woocommerce-checkout {
    .alternate-cart-products {
        width: 100%;
        margin: 0;
    }
}

body.xoo-wsc-cart-active,
html.xoo-wsc-cart-active {
    overflow: unset !important;
}

/********
* Blog Page
*********/

.single-post {
    article.post {
        font-family: $lekton;
    }
    .entry-header {
        padding: 0 2rem 2rem;
        @include mq($from: desktop) {
            width: 75%;
            margin: auto;
        }
        h1 {
            font-weight: 600;
        }
        .entry-meta {
            margin-top: 1rem;
            @include mq($from: desktop) {
                font-size: 24px;
            }
            a {
                color: #fff;
                pointer-events: none;
                text-decoration: none;
            }
            .posted-on {
                .updated {
                    display: none;
                }
            }
        }
    }
    .post-thumbnail {
        width: 100%;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            @include mq($from: desktop) {
                height: 300px;
            }
        }

        .placeholder-image {
            opacity: 0.6;
        }
    }
    .entry-content {
        padding: 2rem;
        @include mq($from: desktop) {
            width: 75%;
            margin: auto;
            font-size: 24px;
        }
    }
    .navigation {
        padding: 0 2rem;
        font-family: $lekton;
        @include mq($from: desktop) {
            width: 75%;
            margin: auto;
            font-size: 24px;
        }
        .nav-links {
            a {
                font-weight: 700;
            }
        }
        a {
            color: #fff;
        }
    }
    #comments,
    .entry-footer {
        display: none;
    }
}

/********
* Share Icons
*********/

.product-share-modal-button {
    background-color: #0000;
    border: none;
    position: absolute;
    top: 32.9rem;
    right: 5rem;
    @include mq($from: desktop) {
        top: -2.5rem;
        right: 12rem;
    }
}

#productShareIcons {
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background-color: rgba(217, 217, 217, 0.02);
    .modal-dialog {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        margin: 0;
        top: unset;
        min-height: unset;
        @include mq($from: desktop) {
            position: unset;
            margin: auto;
            min-height: -webkit-fill-available;
        }

        .modal-content {
            background-color: #000;
            padding: 2rem;
            border-radius: 9px;
            .modal-body {
                padding: 0;
                .modal-title {
                    font-family: $blaak-black-regular;
                    font-size: 21px;
                    font-weight: 900;
                    line-height: 1.2;
                    text-align: center;
                    color: #fff;
                    text-transform: lowercase;
                    margin-bottom: 1rem;
                    @include mq($from: desktop) {
                        font-size: 30px;
                    }
                    span {
                        color: #bbcea8;
                    }
                }
                .psfw-social-wrap {
                    justify-content: center;
                    ul.psfw-social-icons {
                        margin: 0;
                        li {
                            a {
                                color: #fff;
                                border: none;
                                font-size: 2.5rem;
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}
