.accordion {
    margin: 2rem -2rem 0;
    @include mq($from: desktop) {
        margin: 2rem 0 0;
    }

    // .accordion-flush
    &-flush {
    }
    // .accordion-item
    &-item {
        background-color: $background-color;
        color: #fff;
        border-color: #343434;
    }
    // .accordion-header
    &-header {
    }
    // .accordion-button
    &-button {
        background-color: #050505;
        font-family: $blaak;
        font-size: 17px;
        font-weight: 900;
        line-height: 0.94;
        text-align: left;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include mq($until: desktop) {
            padding: 1rem 2rem;
        }
        @include mq($from: desktop) {
            font-size: 22px;
        }

        &:focus {
            border-color: unset;
            box-shadow: unset;
        }

        span {
            display: block;
            font-family: $lekton;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
            font-size: 12px;
            font-weight: 400;
            line-height: 1.37;
            letter-spacing: 2.16px;
            text-align: left;
            color: rgba(255, 255, 255, 0.44);
            margin-bottom: 0.2rem;
            @include mq($from: desktop) {
                font-size: 14.9px;
            }
        }

        svg {
            position: absolute;
            right: 2rem;
            top: 42.5%;
            transition: transform 0.3s ease;
        }

        &::after {
            content: unset;
        }

        &:not(.collapsed) {
            background-color: #050505;
            color: #fff;
            box-shadow: none;
            svg {
                transform: rotate(90deg);
            }
        }
    }
    // .accordion-collapse
    &-collapse {
    }
    // .accordion-body
    &-body {
        padding: 1rem 2rem;
    }
}
.collapsed {
}
.collapse {
}
