.footer-section {
    // footer-section__image

    &__image {
        display: none;
        width: 100%;
        margin: 2rem 0 1rem;

        @include mq($from: desktop) {
            max-width: 660px;
            display: flex;
            margin: 12rem auto 3rem;
        }
    }
    // .footer-section__main
    &__main {
        padding: 2rem;
        @include mq($from: desktop) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    // .footer-section__menu

    &__menu {
        margin-bottom: 2.5rem;
        width: 100%;
        // @include mq($from: desktop) {
        // }
        @include mq($from: desktop) {
            order: 2;
            height: 220px;
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
            margin-bottom: 1rem;
        }
    }

    // .footer-section__link

    &__link {
        font-family: $lekton;
        font-size: 12px;
        letter-spacing: 4.8px;
        text-align: left;
        color: #fff;
        text-decoration: none;
        display: block;
        margin-bottom: 1.5rem;
        @include mq($from: desktop) {
            width: 50%;
            font-size: 19.2px;
            letter-spacing: 7.68px;
            padding-left: 30px;
            margin-bottom: 2rem;
            height: 40px;
            &:nth-child(-n + 3) {
                text-align: right;
                padding-right: 30px;
            }
        }
        &:hover {
            color: #bbcea8;
        }
    }

    // .footer-section__getInTouch

    &__getInTouch {
        margin-bottom: 2.5rem;
        @include mq($from: desktop) {
            order: 3;
            width: 440px;
        }
    }

    // .footer-section__getInTouchTitle

    &__getInTouchTitle {
        font-size: 17px;
        font-weight: 900;
        line-height: 22.4px;
        letter-spacing: -0.09px;
        text-align: left;
        color: #fff;
        margin-bottom: 0.7rem;

        @include mq($from: desktop) {
            font-size: 21px;
            line-height: 20.3px;
            opacity: 0.36;
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    // .footer-section__getInTouchLinks

    &__getInTouchLinks {
        @include mq($from: desktop) {
            display: flex;
            justify-content: space-between;
        }
    }

    // .footer-section__getInTouchLink

    &__getInTouchLink {
        flex-grow: 0;
        opacity: 0.7;
        font-size: 13px;
        font-weight: 100;
        line-height: 17.9px;
        letter-spacing: 0.2px;
        text-align: left;
        color: #fff;
        font-family: BlaakThin;
        display: block;
        text-decoration: none;
        margin-bottom: 0.5rem;

        @include mq($from: desktop) {
            font-size: 20.9px;
            line-height: 28.8px;
            letter-spacing: 0.31px;
            opacity: 1;
        }
        &:hover {
            color: #bbcea8;
        }
    }

    // .footer-section__getInTouchImg

    &__getInTouchImg {
        margin-right: 1rem;
        @include mq($from: desktop) {
            width: 20px;
        }
    }

    // .footer-section__note

    &__note {
        @include mq($from: desktop) {
            order: 1;
            text-align: center;
            margin-bottom: 3rem;
        }
    }

    // .footer-section__noteTitle

    &__noteTitle {
        font-size: 17px;
        font-weight: 900;
        line-height: 22.4px;
        letter-spacing: -0.09px;
        // text-align: left;
        color: #fff;
        margin-bottom: 0.7rem;

        @include mq($from: desktop) {
            font-size: 21px;
            line-height: 20.3px;
            opacity: 0.36;
        }
    }

    // .footer-section__noteText

    &__noteText {
        opacity: 0.7;
        font-family: $blaak-black-light;
        font-size: 13px;
        font-weight: 100;
        line-height: 17.9px;
        letter-spacing: 0.2px;
        // text-align: left;
        color: #fff;
        max-width: 75%;
        @include mq($from: desktop) {
            font-size: 16px;
            line-height: 24.7px;
            opacity: 1;
            max-width: 700px;
            margin: 1.5rem auto;
        }
    }

    // .footer-section__noteSign

    &__noteSign {
        opacity: 0.4;
        font-family: $blaak-black-light;
        font-size: 13px;
        font-weight: 300;
        line-height: 12.2px;
        letter-spacing: 0.13px;
        // text-align: left;
        color: #fff;
        margin-bottom: 0;
        @include mq($from: desktop) {
            margin: 1rem 0;
        }
    }

    // .footer-section__noteSignKirgo

    &__noteSignKirgo {
        margin-left: -2px;
        @include mq($from: desktop) {
            margin: auto;
        }

        svg {
            width: 35px;
            height: 20px;
            @include mq($from: desktop) {
                width: 60px;
                height: 25px;
            }
        }
    }

    // .footer-section__sub

    &__sub {
    }

    // .footer-section__subMenu

    &__subMenu {
        padding: 1rem 2rem;
        background-color: #101010;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq($from: desktop) {
            padding: 1.5rem 3rem;
            position: relative;

            &::before {
                position: absolute;
                content: url("/wp-content/themes/kirgo-theme/assets/images/kirgo-icon.png");
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0.35);
            }
        }
    }

    // .footer-section__offer

    &__offer {
        display: flex;
        @include mq($from: desktop) {
            align-items: center;
        }
    }

    // .footer-section__offerImg

    &__offerImg {
        margin-right: 10px;
        @include mq($from: desktop) {
            margin-right: 35px;
            transform: scale(2.25);
            display: flex;
        }

        svg {
            width: 20px;
            height: 20px;
            path:nth-child(3) {
                stroke: #fff;
            }
        }
    }

    // .footer-section__offerTag

    &__offerTag {
        font-family: $lekton;
        font-size: 12px;
        font-weight: bold;
        line-height: 14.2px;
        letter-spacing: 2.28px;
        text-align: left;
        color: #fff;
        margin-bottom: 0;

        @include mq($from: desktop) {
            font-size: 20px;
            line-height: 23.7px;
            letter-spacing: 3.81px;
        }
    }

    // .footer-section__socialLinks

    &__socialLinks {
        flex-basis: 35%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mq($from: desktop) {
            flex-basis: 150px;
        }
    }

    // .footer-section__socialLink

    &__socialLink {
        @include mq($from: desktop) {
            transform: scale(1.25);
        }
        svg {
            path {
                stroke: #fff;
            }
        }
        &:hover {
            svg {
                path {
                    stroke: #bbcea8;
                }
            }
        }
    }

    // .footer-section__socialLinkImg

    &__socialLinkImg {
    }

    // .footer-section__copyRight

    &__copyRight {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mq($from: desktop) {
            position: relative;
            padding: 1rem 3rem;
        }
        p {
            margin-bottom: 0;
        }
    }

    // .footer-section__copyRightKiro

    &__copyRightKiro {
        font-family: $lekton;
        font-size: 8px;
        font-weight: bold;
        letter-spacing: 2.84px;
        color: #fff;
        @include mq($from: desktop) {
            font-size: 14.8px;
            letter-spacing: 5.25px;
        }
    }

    // .footer-section__termsPolicyLinks

    &__termsPolicyLinks {
        display: flex;
        gap: 1.5rem;
        @include mq($from: desktop) {
            position: absolute;
            left: 0;
            width: 100%;
            justify-content: center;
        }
    }

    // .footer-section__termsPolicyLink

    &__termsPolicyLink {
        font-family: $lekton;
        color: #fff;
        font-size: 10px;
        text-decoration: none;
        display: none;
        &:hover {
            color: #bbcea8;
        }

        @include mq($from: desktop) {
            font-size: 16px;
            display: block;
        }
    }

    .footer-section__termsPolicyLink.mobile-link {
        display: block;

        @include mq($from: desktop) {
            display: none;
        }
    }

    // .footer-section__copyRightSecondary

    &__copyRightSecondary {
        font-family: $lekton;
        font-size: 10px;
        text-align: center;
        color: #fff;
        @include mq($from: desktop) {
            font-size: 19.2px;
        }
    }

    // .footer-section__doriameIcon

    &__doriameIcon {
        width: 50px;
        height: 10px;
        object-fit: cover;
        @include mq($from: desktop) {
            width: 92px;
            height: 18px;
        }
    }
}
.doriame {
}
