.navbar {
    background-color: transparent;
    padding: 0 2rem;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    top: 0;

    @include mq($from: desktop) {
        height: 100px;
    }

    .navbar-brand__logo {
        svg {
            @include mq($from: desktop) {
                transform: scale(1.5);
                margin-left: 1rem;
            }
        }
    }

    .navbar-admin,
    .navbar-cart {
        @include mq($from: desktop) {
            transform: scale(1.25);
            margin-right: 2rem;
        }
    }

    &.active {
        .home-arrow,
        .woocommerce-page-title {
            display: none;
        }
        .kirgo-mobile-logo {
            display: block;
        }
        .navbar-brand__logo {
            z-index: 99999;
            svg {
                @include mq($from: desktop) {
                    transform: scale(1.25);
                    margin-left: 10px;
                }
                g {
                    fill: #000;
                    filter: none;
                    @include mq($from: desktop) {
                        fill: #fff;
                    }
                }
            }
        }

        .navbar-admin {
            svg {
                path {
                    stroke: #000;
                    fill: #000;
                }
            }
        }

        .navbar-cart {
            svg {
                path {
                    fill: #000;
                }
            }
            .cart-count {
                color: #000;
            }
            .xoo-wsc-sc-cont {
                .xoo-wsc-sc-bkcont {
                    .xoo-wsc-sc-bki {
                        &::before {
                            display: none;
                        }
                        &::after {
                            display: inherit;
                        }
                    }
                    .xoo-wsc-sc-count {
                        color: #000;
                    }
                }
            }
        }

        .navbar-hamburger {
            span {
                background: transparent;

                &:before {
                    top: 0;
                    transform: rotate(45deg);
                    background: $tmm_activ_color;
                }
                &:after {
                    bottom: 0;
                    transform: rotate(-45deg);
                    width: 100%;
                    background: $tmm_activ_color;
                }
            }
        }

        .navbar-links {
            right: 0;
        }
    }

    .home-arrow {
        svg {
            width: 10px;
            height: 15px;
        }
    }
    .woocommerce-page-title {
        font-style: inherit;
        font-weight: 900;
        font-size: 26.3464px;
        line-height: 1;
        margin: 0 0 0 0.5rem;
        text-transform: lowercase;
    }
}

.woocommerce-cart {
    .navbar {
        .navbar-cart.disabled {
            opacity: 0.3;
        }
        .navbar-cart {
            pointer-events: none;
        }
    }
}

.page-template-template-about-us,
body.page-id-425,
body.page-id-10,
body.page-id-432,
body.page-id-436,
body.page-template-template-get-in-touch {
    .navbar {
        svg {
            fill: #000;
            path {
                fill: #000;
            }
            g {
                fill: #000;
            }
        }
        .navbar-hamburger {
            span {
                background: #000;

                &:before,
                &:after {
                    background: #000;
                }
            }
        }
        .xoo-wsc-sc-cont {
            .xoo-wsc-sc-bkcont {
                .xoo-wsc-sc-bki {
                    &::before {
                        display: none;
                    }
                    &::after {
                        display: inherit;
                    }
                }
                .xoo-wsc-sc-count {
                    color: #000;
                }
            }
        }
    }

    .navbar.active {
        .navbar-hamburger {
            span {
                background: #0000;
            }
        }
    }
    .navbar.scrolled-screen {
        svg {
            fill: #fff;
            path {
                fill: #fff;
            }
            g {
                fill: #fff;
            }
        }
        .navbar-hamburger {
            span {
                background: #fff;

                &:before,
                &:after {
                    background: #fff;
                }
            }
        }
        .xoo-wsc-sc-cont {
            .xoo-wsc-sc-bkcont {
                .xoo-wsc-sc-bki {
                    &::before {
                        display: inherit;
                    }
                    &::after {
                        display: none;
                    }
                }
                .xoo-wsc-sc-count {
                    color: #fff;
                }
            }
        }
    }
}

.scrolled-screen {
    background-color: #0d0c0c;
}

.isFixed {
    overflow-y: hidden;
}

.navbar-admin {
    margin: 3px 0 0 auto;
    z-index: 99999;
    display: flex;
    svg {
        width: 20px;
        height: 20px;
        filter: drop-shadow(0px 2px 2px rgb(0 0 0 / 0.4));
        path {
            fill: #fff;
        }
    }
}

.navbar-admin-desktop {
    display: none;
    @include mq($from: desktop) {
        display: flex;

        .xoo-el-action-sc {
            font-size: 0;
            color: #0000;
        }
    }
}

.navbar-admin-mobile {
    display: flex;
    @include mq($from: desktop) {
        display: none;
    }
}

.navbar-cart {
    margin: 0 10px 0 20px;
    text-decoration: none;
    position: relative;
    z-index: 99999;

    svg {
        width: 20px;
        height: 22px;
    }
    .cart-count {
        font-family: $lekton;
        color: #fff;
        font-size: 10px;
        // background-color: #fff;
        border-radius: 50%;
        line-height: 1;
        font-weight: 700;
        position: absolute;
        top: 4.7px;
        left: 1px;
        display: flex;
        width: 18px;
        height: 20px;
        justify-content: center;
        align-items: center;
    }

    svg {
        path {
            fill: #fff;
        }
    }

    // Ajax Cart Plugin CSS

    .xoo-wsc-sc-cont {
        color: #fff;
        font-family: $lekton;

        .xoo-wsc-sc-bkcont {
            // transform: scale(1.15);
            margin-right: 0px;
            // margin-top: 2px;
            .xoo-wsc-sc-bki {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -1px;
                filter: drop-shadow(0px 2px 2px rgb(0 0 0 / 0.4));
                &::before {
                    content: url("/wp-content/themes/kirgo-theme/assets/images/header/cart-light.svg");
                }
                &::after {
                    display: none;
                    content: url("/wp-content/themes/kirgo-theme/assets/images/header/cart-dark.svg");
                }
            }

            .xoo-wsc-sc-count {
                background-color: unset;
                font-size: 12px;
                // right: 0px;
                // top: 10px;
                height: 9px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 700;
                filter: drop-shadow(0px 2px 2px rgb(0 0 0 / 0.4));
            }
        }
    }
}

.navbar-hamburger {
    width: $tmm_real_width;
    height: $tmm_real_height;
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 99999;
    transform: scale(0.65);
    cursor: pointer;
    filter: drop-shadow(0px 2px 2px rgb(0 0 0 / 0.4));
    @include mq($from: desktop) {
        transform: scale(0.9);
        margin-left: 1rem;
    }
    span {
        position: absolute;
        width: 100%;
        display: block;
        transition: all 0.2s;
        background: $tmm_color;
        height: $tmm_stroke_width;
        top: $tmm_mid_top;
        left: $tmm_h_padding;
        width: $tmm_width;
        border-radius: $tmm_border_radius;

        &:before,
        &:after {
            border-radius: $tmm_border_radius;
            position: absolute;
            background: $tmm_color;
            height: $tmm_stroke_width;
            content: "";
            display: block;
            top: -$tmm_stroke_width - $tmm_stroke_space;
            transition: all 0.2s;
            width: 100%;
        }

        &:after {
            bottom: -10px;
            top: auto;
            width: 70%;
            right: 0;
        }
    }
}

.navbar-links {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 100%;
    background-color: #fff;
    transition: all 0.4s ease;
    padding-top: 100px;
    overflow-y: auto;
    @include mq($from: desktop) {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        flex-direction: row;
    }

    .product-nav-links-left {
        flex-basis: 65%;
        display: none;
        @include mq($from: desktop) {
            display: flex;
        }
        .product-nav-link {
            background-repeat: no-repeat;
            flex-basis: 50%;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;

            .product-prefix {
                font-family: $blaak-black-regular;
                font-style: italic;
                font-weight: 400;
                font-size: 38.403px;
                line-height: 93.9%;
                color: #ffffff;
            }
            .product-title {
                font-family: $blaak-black-regular;
                font-style: normal;
                font-weight: 700;
                font-size: 53.1734px;
                line-height: 103.9%;
                color: #ffffff;
            }
            .menu-buy-link {
                margin-bottom: 3rem;
                font-family: $lekton;
                background: #ffffff;
                box-shadow: 0px 7.20548px 12.9699px rgb(0 0 0 / 25%);
                border-radius: 6.82624px;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 18px;
                text-align: center;
                color: #000000;
                padding: 1rem 4rem;
                text-decoration: none;

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
    .product-nav-links-right {
        flex-basis: 35%;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        @include mq($from: desktop) {
            height: unset;
            justify-content: center;
            padding: 0 2rem;
        }

        .navbar-menu {
            padding: 0 2rem;
            @include mq($from: desktop) {
                padding: 0 3rem;
                margin: auto 0 0;
                gap: 3rem;
                display: flex;
                flex-direction: column;
            }

            .navbar-menu__item {
                .navbar-menu__link {
                    @include mq($from: desktop) {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.active.white-background {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100px;
        right: 0;
        top: 0;
        background-color: #fff;
        z-index: 99999;
    }
}
// .navbar-wrapper {
// }
.navbar-menu {
    // .navbar-menu__item
    list-style-type: none;
    padding: 0 2rem 0 2rem;

    .hidden-link-desktop {
        @include mq($from: desktop) {
            display: none;
        }
    }

    &__item {
        text-decoration: none;
        &:nth-child(2) {
            margin-bottom: 1.75rem;
        }

        &:hover {
            .navbar-menu__link {
                background-color: #000;
                color: #fff;

                &::after {
                    content: url("/wp-content/themes/kirgo-theme/assets/images/link-arrow-white.svg");
                }
                span {
                    color: #fff;
                }
            }
        }
    }

    // .navbar-menu__link

    &__link {
        border: 1px solid #000;
        border-radius: 9px;
        padding: 1.3rem 0.8rem 0.8rem;
        margin-bottom: 1rem;
        font-family: $blaak-black-regular;
        font-size: 23px;
        font-weight: 900;
        line-height: 21.6px;
        text-align: left;
        color: #000;
        position: relative;

        &::after {
            content: url("/wp-content/themes/kirgo-theme/assets/images/link-arrow.svg");
            position: absolute;
            z-index: 9999;
            right: 8px;
            bottom: 3px;
        }

        span {
            display: block;
            font-family: $blaak-black-light;
            font-size: 13px;
            font-weight: 300;
            font-style: italic;
            line-height: 12.2px;
            text-align: left;
            color: #0d0c0c;
            margin-bottom: 5px;
        }
        .classic {
            color: #fff;
        }
    }

    .product-category {
        padding: 5rem 1.5rem 0.8rem 0.8rem;
        background-size: cover;
        color: #fff;
        border: none;
        position: relative;
        z-index: 1;
        &::after {
            display: none;
        }
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            background: linear-gradient(
                270deg,
                rgba(0, 0, 0, 0) 20.22%,
                #000000 158.94%
            );
            border-radius: 9px;
        }
    }

    .top-category {
        background-image: url("/wp-content/themes/kirgo-theme/assets/images/header/classic-sport.jpg");
    }

    .leggings-category {
        background-image: url("/wp-content/themes/kirgo-theme/assets/images/header/classic-leggings.jpg");
        margin-right: 0;
    }
}
.social-link {
    // .social-link__items
    padding: 0 2rem;
    margin: auto 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__items {
        text-decoration: none;

        &:first-child {
            img {
                width: 20px;
            }
        }
    }

    .social-links {
        min-width: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .get-in-touch {
        font-family: $blaak-black-regular;
        font-size: 12.1px;
        font-weight: 900;
        line-height: 11.4px;
        text-align: left;
        padding: 1.5rem;
        background-color: #000;
        border-radius: 9px;
        color: #fff;
        border: 1px solid #000;

        &:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
        }
    }
    // .social-link__image

    // &__image {
    // 	width: 20px;
    // }
}
.empty-cart {
    .xoo-wsc-sc-count {
        color: #0000;
    }
}

.kirgo-mobile-logo {
    @include mq($until: desktop) {
        display: none;
    }
}

.home-arrow,
.woocommerce-page-title {
    @include mq($from: desktop) {
        display: none;
    }
}

body.summer-collection-product {
    .navbar-brand__logo {
        svg {
            path {
                fill: #de5386;
            }
        }
    }
}
