.woocommerce-account.logged-in {
    .woocommerce {
        margin-top: 0;
        background-color: #0d0c0c;
        color: #fff;
        // height: calc(100vh - 180px);

        @include mq($from: desktop) {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
        }

        .woocommerce-MyAccount-navigation {
            @include mq($from: desktop) {
                flex-basis: 60%;
                min-height: 100vh;
            }

            ul {
                padding: 0;
                margin: 0 0 2rem 0rem;
                display: flex;
                flex-direction: column;

                @include mq($from: desktop) {
                    margin: 7rem auto 0 0;
                    margin-left: 20%;
                }

                li.woocommerce-MyAccount-navigation-link--dashboard,
                li.woocommerce-MyAccount-navigation-link--downloads {
                    display: none;
                }

                li.woocommerce-MyAccount-navigation-link {
                    list-style-type: none;
                    margin: 1rem 0 0rem 0;
                    text-transform: lowercase;
                    background-color: #fff;
                    padding: 1rem 0;
                    padding-left: 1rem;
                    border-radius: 10px;

                    a {
                        text-decoration: none;
                        font-family: $blaak-black-regular;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 21.3333px;
                        line-height: 1.5;
                        color: #000;
                        @include mq($from: desktop) {
                            font-size: 24px;
                        }
                        &:hover {
                            color: #000;
                        }
                    }
                }

                li.woocommerce-MyAccount-navigation-link.is-active {
                    a {
                        border-bottom: 5px solid #000;
                        color: #000;
                    }
                }

                li.woocommerce-MyAccount-navigation-link--customer-logout {
                    display: none;
                }

                .woocommerce-MyAccount-navigation-link--dashboard.is-active
                    ~ .woocommerce-MyAccount-navigation-link--customer-logout {
                    opacity: 0.5;
                    display: block;
                }
            }
        }
        .woocommerce-MyAccount-content {
            @include mq($from: desktop) {
                flex-basis: 40%;
                margin-top: 0;
                padding: 7rem 0 3rem;
                background-color: #000;
            }
        }

        a {
            color: #fff;
        }

        .woocommerce-form-row,
        .woocommerce-address-fields__field-wrapper {
            label {
                display: none;
            }

            input {
                -webkit-backdrop-filter: blur(4.9px);
                backdrop-filter: blur(4.9px);
                border: solid 0.3px rgba(255, 255, 255, 0.6);
                background-color: rgba(255, 255, 255, 0);
                width: 100%;
                padding: 1rem;
                line-height: 1;
                border-radius: 6px;
                font-family: $lekton;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: -0.14px;
                text-align: left;
                color: #fff;
                text-transform: lowercase;

                @include mq($from: desktop) {
                    font-size: 18px;
                }
            }
            .select2-selection {
                backdrop-filter: blur(4.9px);
                border: solid 0.3px rgb(255 255 255 / 60%);
                background-color: rgba(255, 255, 255, 0);
                width: 100%;
                padding: 1rem;
                border-radius: 6px;
                font-family: "Lekton";
                font-size: 14px;
                font-weight: bold;
                letter-spacing: -0.14px;
                text-align: left;
                color: #fff;
                height: unset;

                @include mq($from: desktop) {
                    font-size: 18px;
                }
                .select2-selection__rendered {
                    line-height: 1;
                    color: #fff;
                }

                .select2-selection__arrow {
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
        .woocommerce-Button.button,
        .button.wp-element-button {
            font-family: $blaak-black-regular;
            font-size: 12.1px;
            font-weight: 900;
            line-height: 11.4px;
            text-align: center;
            color: #000;
            text-decoration: none;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;
            border-radius: 6px;
            margin: 0 0 1rem;
            width: 100%;
            text-transform: lowercase;
            border: 1px solid #fff;
            transition: all 0.1s ease-out;
            &:hover {
                background-color: #000;
                color: #fff;
            }
            @include mq($from: desktop) {
                font-size: 14px;
            }
        }
    }

    .account-social-link {
        display: flex;
        position: absolute;
        left: 0;
        bottom: 2rem;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        @include mq($from: desktop) {
            left: unset;
            right: 0;
            width: 40%;
        }

        .social-links {
            min-width: 130px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mq($from: desktop) {
                min-width: 200px;
            }
        }
        a {
            svg {
                path {
                    stroke: #fff;
                }
            }
        }

        .get-in-touch {
            font-family: $blaak-black-regular;
            font-size: 12.1px;
            font-weight: 900;
            line-height: 11.4px;
            text-align: left;
            padding: 1.5rem;
            background-color: #fff;
            border-radius: 9px;
            color: #000;
            border: 1px solid #fff;
            transition: all 0.1s ease-out;
            &:hover {
                background-color: #000;
                color: #fff;
            }
            @include mq($from: desktop) {
                font-size: 14px;
            }
        }
    }
}

.woocommerce-account {
    .account-banner-image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        // object-position: center -2rem;
    }

    h2 {
        font-family: $blaak-black-regular;
        font-size: 26.3px;
        font-weight: 900;
        line-height: 24.7px;
        text-align: left;
        color: #fff;
        position: relative;
        margin-bottom: 1rem;

        // @include mq($from: desktop) {
        //     font-size: 32px;
        // }
        &::before {
            content: url("/wp-content/themes/kirgo-theme/assets/images/icons/left-arrow.svg");
            margin-right: 10px;
        }
    }

    .woocommerce-order-details__title {
        &::before {
            display: none;
        }
    }

    .woocommerce-column__title {
        color: #fff;
        font-size: 21.3px;

        &::before {
            display: none;
        }
    }

    .woocommerce {
        font-family: $lekton;
        padding: 2rem 1rem;
        color: #000;
        background-color: #fff;

        .col-1 {
            width: 100%;
        }
        .col-2 {
            width: 100%;
        }

        .woocommerce-form,
        .woocommerce-form-row {
            label {
                display: none;
            }

            input {
                width: 100%;
                padding: 1rem;
                line-height: 1;
                border-radius: 6px;
                font-family: $lekton;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: -0.14px;
                text-align: left;
                color: #000;
                text-transform: lowercase;
                -webkit-backdrop-filter: blur(4.9px);
                backdrop-filter: blur(4.9px);
                border: solid 0.3px rgb(13 12 12 / 60%);
                background-color: rgba(13, 12, 12, 0);

                @include mq($from: desktop) {
                    font-size: 18px;
                }
            }

            .woocommerce-button.woocommerce-form-login__submit,
            .woocommerce-Button.button {
                border-radius: 6px;
                border: solid 1px #000;
                background-color: #0d0c0c;
                font-family: $blaak-black-regular;
                font-size: 12.1px;
                font-weight: 900;
                line-height: 11.4px;
                text-align: center;
                color: #fff;
                width: 100%;
                padding: 1rem 0;

                @include mq($from: desktop) {
                    font-size: 14px;
                }
            }

            .create-account-btn {
                border-radius: 6px;
                border: solid 1px #000;
                font-family: $blaak-black-regular;
                font-size: 12.1px;
                font-weight: 900;
                line-height: 11.4px;
                text-align: center;
                width: 100%;
                padding: 1rem 0;
                color: #000;
                background-color: #fff;
                display: flex;
                justify-content: center;
                text-decoration: none;
                margin-bottom: 1rem;

                @include mq($from: desktop) {
                    font-size: 14px;
                }
            }

            .woocommerce-LostPassword {
                a {
                    opacity: 0.7;
                    font-family: $blaak-black-regular;
                    font-size: 13px;
                    font-weight: 100;
                    line-height: 17.9px;
                    letter-spacing: 0.2px;
                    color: #0d0c0c;

                    @include mq($from: desktop) {
                        font-size: 16px;
                    }
                }
            }
        }

        .woocommerce-MyAccount-content {
            & > * {
                @include mq($from: desktop) {
                    max-width: 400px;
                    margin: 0 auto;
                }
            }
            h3 {
                font-family: $blaak-black-regular;
                font-size: 21.3px;
                font-weight: 900;
                line-height: 20px;
                color: #fff;
                text-transform: lowercase;
            }
            .woocommerce-orders-table {
                width: 100%;
                margin: 0 auto 2rem;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                padding: 0.75rem 0;
                display: flex;
                flex-direction: column;

                .product-name dt,
                .product-name strong,
                .cart-subtotal th,
                .order-total th {
                    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                    font-family: $lekton;
                    font-size: 14px;
                    line-height: 19.2px;
                    letter-spacing: 0.21px;
                    font-weight: normal;
                    text-align: left;
                    color: #7b7b7b;

                    @include mq($from: desktop) {
                        font-size: 18px;
                    }
                }

                tr {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border: solid 0 #000;
                    background-color: #171616;
                    padding: 1rem;
                    border-radius: 10px;

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }

                    td {
                        @include mq($from: desktop) {
                            text-align: right;
                        }
                        &::before {
                            @include mq($from: desktop) {
                                display: block;
                            }
                        }
                        &:last-child {
                            margin-top: 1rem;
                        }

                        &.woocommerce-orders-table__cell-order-actions {
                            a {
                                margin-left: 0.5rem;
                            }
                        }

                        .button.wp-element-button {
                            margin: 0;
                            display: unset;
                            padding: 0.5rem 1rem;
                            text-transform: lowercase;
                            border: 1px solid #fff;
                            transition: all 0.1s ease-out;
                            &:hover {
                                background-color: #000;
                                color: #fff;
                            }
                        }
                        .button.wp-element-button.view {
                            margin: 0 0.5rem;
                        }
                    }
                }

                thead {
                    tr {
                        @include mq($from: desktop) {
                            display: none;
                        }
                    }
                }

                tfoot {
                    .cart-subtotal {
                        padding-bottom: 0.75rem;
                    }
                    .order-total {
                        border-top: 1px solid #fff;
                        padding-top: 10px;
                    }
                }
            }

            .woocommerce-Addresses {
                .woocommerce-Address-title {
                    display: flex;
                    align-items: center;

                    h2 {
                        margin: 1rem 0;
                        font-family: $blaak-black-regular;
                        font-size: 21.3px;
                        font-weight: 900;
                        line-height: 20px;
                        color: #fff;
                        text-transform: lowercase;
                    }

                    a {
                        margin-left: auto;
                        font-family: $blaak-black-regular;
                        padding: 0.75rem 1rem;
                        background-color: #fff;
                        color: #000;
                        text-decoration: none;
                        border-radius: 6px;
                        font-weight: 700;
                        line-height: 1;
                        text-transform: lowercase;
                        border: 1px solid #fff;
                        transition: all 0.1s ease-out;
                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .woocommerce-order-details {
            .woocommerce-order-details__title,
            .shop_table.order_details {
                width: 100%;

                tfoot {
                    tr {
                        th {
                            text-shadow: 0 2px 6px rgb(0 0 0 / 25%);
                            font-family: $lekton;
                            font-size: 16px;
                            line-height: 19.2px;
                            letter-spacing: 0.21px;
                            font-weight: normal;
                            text-align: left;
                            color: #7b7b7b;
                        }

                        td {
                            text-align: right;
                        }
                    }
                }
            }
        }

        #account_display_name {
            margin-bottom: 1rem;
        }

        fieldset {
            legend {
                font-family: $blaak-black-regular;
                font-size: 21.3px;
                font-weight: 900;
                line-height: 20px;
                color: #fff;
                text-transform: lowercase;
                margin: 1rem 0;
            }
        }
    }

    .account-social-link {
        display: none;
    }

    .woocommerce-ResetPassword {
        p {
            font-weight: 700;
        }
    }
}

.show-password-input {
    display: none;
}
