body.single-product {
    font-family: $lekton;
    color: #fff;

    .site-main {
        margin-top: 0rem;
        @include mq($from: desktop) {
            margin-top: 11rem;
        }
    }

    .woocommerce-breadcrumb {
        display: none;
    }

    .woocommerce-notices-wrapper {
        position: absolute;
        z-index: 11111;
        top: 6rem;
        right: 3%;
        width: 300px;
        @include mq($from: desktop) {
            top: 8rem;
            right: unset;
            left: 70%;
        }
        div {
            font-size: 1em;
            background: #fff;
            color: #000;
            padding: 1rem;
            border-radius: 7px;
            margin-bottom: 1rem;
        }
    }

    .product {
        @include mq($from: desktop) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .woocommerce-product {
            &-side__note {
                position: absolute;
                left: 20px;
                bottom: 30px;
                transform: rotate(-90deg);
                font-size: 13px;
                font-style: italic;
                line-height: 0.94;
                text-align: left;
                transform-origin: left;
                z-index: 10;
                @include mq($from: desktop) {
                    left: -20px;
                    bottom: 15px;
                }
            }

            &-details {
                &__short-description {
                    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 1.37;
                    letter-spacing: 0.2px;
                    text-align: left;
                    color: #fff;
                    @include mq($from: desktop) {
                        font-size: 18px;
                        margin-bottom: 2rem;
                    }
                }
            }
        }

        .woocommerce-product-gallery {
            width: 100%;
            margin-bottom: 1rem;
            @include mq($from: desktop) {
                margin-bottom: 0;
                flex-basis: 40%;
                width: unset;
            }
            @include mq($from: desktop-lg) {
                flex-basis: 45%;
            }

            .flex-viewport {
                @include mq($from: desktop) {
                    height: 100% !important;
                }
                .wp-post-image,
                img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 500px;
                    @include mq($from: desktop) {
                        overflow: visible;
                    }
                }
            }

            .flex-control-nav.flex-control-thumbs {
                position: absolute;
                right: 30px;
                bottom: 20px;
                display: flex;
                flex-direction: column;
                @include mq($from: desktop) {
                    top: 0;
                    left: -60px;
                    right: unset;
                    bottom: unset;
                }

                li {
                    img {
                        width: 30px;
                        height: 30px;
                        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
                        border: solid 2px rgba(255, 255, 255, 0.31);
                        background-color: rgba(255, 255, 255, 0.31);
                        border-radius: 6px;
                        margin-bottom: 1rem;
                        @include mq($from: desktop) {
                            width: 45px;
                            height: 45px;
                        }
                    }
                }
            }

            a.woocommerce-product-gallery__trigger {
                display: none;
            }
        }

        .summary {
            padding: 0 2rem;
            @include mq($from: desktop) {
                flex-basis: 40%;
                padding: 0 0 0 2rem;
                position: relative;
            }
            @include mq($from: desktop-lg) {
                max-width: 500px;
            }

            .product_title {
                font-size: 36px;
                font-weight: 900;
                line-height: 0.94;
                text-align: left;
                color: #fff;
                font-family: $blaak;
                margin-bottom: 1.7rem;
                position: relative;
                text-transform: lowercase;
                max-width: 80%;
                @include mq($from: desktop) {
                    font-size: 50px;
                    margin-bottom: 2.2rem;
                }
                &::after {
                    position: relative;
                    content: "";
                    left: 0;
                    bottom: -10px;
                    width: 30%;
                    height: 5px;
                    border: 1px solid #fff;
                    display: block;
                    border-radius: 5px;
                    @include mq($from: desktop) {
                        height: 8px;
                        width: 120px;
                        bottom: -20px;
                    }
                }
            }

            .price {
                display: none;
            }

            .cart {
                .woovr-variations {
                    display: flex;

                    .woovr-variation {
                        &[data-id="0"],
                        &-selector,
                        &-image,
                        &-price {
                            display: none;
                        }

                        &-name {
                            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                            font-family: $lekton;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 1.37;
                            letter-spacing: 0.27px;
                            text-align: left;
                            color: #fff;
                            border-radius: 3px;
                            border: solid 2px #fff;
                            width: 40px;
                            height: 40px;
                            margin-right: 1rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-top: 3px;
                            transition: all 0.1s ease;
                            @include mq($from: desktop) {
                                font-size: 26px;
                                width: 50px;
                                height: 50px;
                            }
                        }

                        &__extra {
                            display: flex;
                            flex-direction: column;
                            margin-top: 0.4rem;
                            margin-left: 0.5rem;

                            &-title {
                                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                                font-family: $lekton;
                                font-size: 13px;
                                line-height: 1.37;
                                letter-spacing: 0.2px;
                                text-align: left;
                                color: #7b7b7b;
                                @include mq($from: desktop) {
                                    font-size: 18px;
                                }
                            }

                            &-link {
                                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                                font-family: $lekton;
                                font-size: 16px;
                                font-weight: bold;
                                line-height: 1.37;
                                letter-spacing: 0.24px;
                                text-align: left;
                                color: #fff;
                                text-decoration: none;
                                background-color: #0000;
                                border: none;
                                padding: 0;
                                @include mq($from: desktop) {
                                    font-size: 23px;
                                }
                                &::after {
                                    content: url("/wp-content/themes/kirgo-theme/assets/images/link-arrow-white.svg");
                                    display: inline-block;
                                    margin-left: 0.4rem;
                                    transform: scale(0.7) translateY(2px);
                                }

                                &:hover {
                                    color: #bbcea8;
                                }
                            }
                        }

                        &:hover {
                            background-color: unset;

                            .woovr-variation-name {
                                background-color: #fff;
                                color: #000;
                                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                            }
                        }

                        &-active {
                            .woovr-variation-name {
                                background-color: #fff;
                                color: #000;
                                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                            }
                        }
                    }
                }

                .single_variation_wrap {
                    .added_to_cart.wc-forward {
                        display: none;
                    }
                }

                .quantity {
                    display: none !important;
                }

                .single_add_to_cart_button:not(.wpcbn-btn-single) {
                    // display: none;
                    // position: absolute;
                    border: none;
                    border-radius: 5px;
                    line-height: 1;
                    top: 0;
                    color: #000;
                    right: 0;
                    z-index: 11;
                    font-size: 1rem;
                    background-color: #fff;
                    padding: unset;
                    width: 100%;
                    height: 50px;
                    margin-bottom: 1rem;
                    position: relative;
                    font-family: "Poppins";
                    font-size: 15px;
                    font-weight: 700;

                    &:hover {
                        background-color: #000;
                        transition: 0.05s ease-out;
                        border: 1px solid #fff;
                    }

                    @include mq($from: desktop) {
                        top: 0rem;
                        color: #000;
                        right: 0;
                        width: 100%;
                        height: 60px;
                        font-size: 23.1px;
                        font-weight: 700;
                        letter-spacing: -0.18px;
                        background-color: #fff;
                        text-transform: lowercase;
                        padding: 0.75rem 1.5rem 0.75rem 3rem;
                    }

                    // &::before {
                    //     position: absolute;
                    //     content: "add to cart";
                    //     top: -50%;
                    //     left: -50%;
                    //     width: 100%;
                    //     transform: translate(50%, 50%);

                    //     @include mq($from: desktop) {
                    //         top: 8px;
                    //         left: 1.2rem;
                    //         width: unset;
                    //         transform: scale(0.9);
                    //     }
                    // }

                    &:hover {
                        color: #fff;
                    }
                }

                [name="buy-now"].single_add_to_cart_button {
                    flex-grow: 0;
                    font-family: $lekton;
                    font-size: 15px;
                    font-weight: bold;
                    text-align: center;
                    color: #000;
                    border: 1px solid #fff;
                    transition: 0.05s ease-out;
                    &:hover {
                        color: #fff;
                        border: 1px solid #fff;
                        background-color: #0000;
                    }
                    @include mq($from: desktop) {
                        font-size: 23.1px;
                    }
                }
            }

            .product_meta {
                display: none;
            }
        }

        .woocommerce-tabs {
            // padding: 0 2rem;
            display: flex;
            flex-direction: column;
            @include mq($from: desktop) {
                flex-basis: 100%;
                margin-bottom: 3rem;
            }
            .wc-tabs {
                display: none;
            }

            .woocommerce-Tabs-panel {
                order: 3;
            }
        }

        .woocommerce-Reviews {
            @include mq($from: desktop) {
                margin: 5rem 0 2rem;
            }
            &-title {
                flex-grow: 0;
                font-family: $blaak;
                font-size: 14px;
                font-weight: 900;
                line-height: 0.94;
                text-align: left;
                color: #fff;
                margin-left: 2rem;
                display: block;
                margin-top: 2rem;
                text-transform: lowercase;
                @include mq($from: desktop) {
                    text-align: center;
                    margin-left: 0;
                    font-size: 35.4px;
                }
            }

            .commentlist {
                padding: 0;
                margin-left: 1.5rem;
                margin-top: 1rem;
                @include mq($from: desktop) {
                    margin-top: 2rem;
                    margin-left: 20rem;
                }

                .flickity-viewport {
                    .flickity-slider {
                        display: flex;
                        align-items: center;
                    }
                }
                .comment,
                .review {
                    list-style-type: none;
                    text-align: center;
                    width: 70%;
                    margin-right: 0.7rem;
                    border-radius: 8px;
                    border: solid 1px #050505;
                    background-color: #050505;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.5rem 1rem;
                    @include mq($from: desktop) {
                        max-width: 450px;
                        min-height: 225px;
                        padding: 2rem 2.5rem;
                    }

                    img {
                        display: none;
                    }

                    &-text {
                        display: flex;
                        flex-direction: column;

                        .meta {
                            order: 2;
                        }

                        .description {
                            font-family: $blaak;
                            font-size: 20px;
                            font-weight: 900;
                            line-height: 1.18;
                            text-align: center;
                            color: #fff;
                            margin: 1rem auto 0;
                            @include mq($from: desktop) {
                                font-size: 32px;
                            }
                            p {
                                margin-bottom: 0.5rem;
                            }
                        }
                    }

                    .woocommerce-review {
                        &__dash {
                            display: none;
                        }

                        &__published-date {
                            display: none;
                        }

                        &__author {
                            font-size: 13px;
                            font-weight: bold;
                            line-height: 1.37;
                            letter-spacing: 0.2px;
                            text-align: left;
                            color: rgba(255, 255, 255, 0.5);
                            @include mq($from: desktop) {
                                font-size: 23.6px;
                            }
                        }
                    }
                }
            }

            #review_form_wrapper {
                margin: 3rem 0 0;
            }

            .comment-respond {
                .comment-reply-title {
                    border-radius: 4.7px;
                    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 25%);
                    background-color: #fff;
                    display: flex;
                    margin: 0 2rem;
                    padding: 0.7rem 0;
                    align-items: center;
                    justify-content: center;
                    font-family: $lekton;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    color: #000;
                    cursor: pointer;
                    transition: 0.1s ease-out;
                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                    @include mq($from: desktop) {
                        max-width: 500px;
                        margin: auto;
                        font-size: 22px;
                        box-shadow: 0 9.1px 16.3px 0 rgb(0 0 0 / 25%);
                        border: solid 1px #fff;
                        background-color: #0000;
                        color: #fff;
                        border-radius: 8.6px;
                    }
                }
                .comment-form {
                    display: none;
                    padding: 0 2rem;
                    margin-top: 1rem;
                    font-family: $blaak-black-regular;
                    @include mq($from: desktop) {
                        max-width: 1000px;
                        margin: 3rem auto 0;
                        // display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }

                    .comment-notes {
                        flex-basis: 100%;
                    }

                    .comment-form-author input,
                    .comment-form-email input,
                    textarea {
                        width: 100%;
                        border-radius: 5px;
                        font-family: $lekton;
                        padding: 0.5rem 0.8rem;
                        font-size: 12px;
                        letter-spacing: -0.12px;
                        color: #fff;
                        background-color: #0d0c0c;
                        border: 1px solid #fff;
                        @include mq($from: desktop) {
                            font-size: 18px;
                            text-transform: lowercase;
                        }
                    }

                    .comment-form-comment {
                        order: 4;
                        flex-basis: 100%;
                    }
                    textarea {
                        height: 100px;
                    }

                    .comment-form-author,
                    .comment-form-email {
                        flex-basis: 48%;
                    }

                    .comment-form-cookies-consent {
                        order: 5;
                        flex-basis: 100%;
                    }

                    .form-submit {
                        order: 6;
                        flex-basis: 100%;
                    }

                    .comment-form-author input,
                    .comment-form-email input {
                        @include mq($from: desktop) {
                            height: 40px;
                        }
                    }

                    .submit {
                        font-family: $blaak-black-regular;
                        border-radius: 4.7px;
                        box-shadow: 0 5px 9px 0 rgb(0 0 0 / 25%);
                        background-color: #fff;
                        padding: 0.7rem 0;
                        font-size: 16px;
                        font-weight: bold;
                        text-align: center;
                        color: #000;
                        width: 100%;
                        text-transform: lowercase;
                        border: 1px solid #fff;
                        transition: 0.1s ease-out;
                        &:hover {
                            color: #fff;
                            border: 1px solid #fff;
                            background-color: #0000;
                        }
                        @include mq($from: desktop) {
                            font-size: 22px;
                            display: flex;
                            justify-content: center;
                            margin: 1rem 0 0 auto;
                            width: 48%;
                        }
                    }

                    span,
                    label {
                        @include mq($from: desktop) {
                            font-size: 18px;
                            text-transform: lowercase;
                        }
                    }
                    .required {
                        display: none;
                    }
                }
            }
        }

        // .product__owner
        &__owner {
            &-words {
                opacity: 0.7;
                font-family: $blaakLight;
                font-size: 13px;
                font-weight: 100;
                line-height: 1.37;
                letter-spacing: 0.2px;
                text-align: center;
                color: #fff;
                max-width: 73%;
                margin: 0 auto;
                margin-top: 4rem;
                display: block;
                position: relative;
                order: 5;
                @include mq($from: desktop) {
                    font-size: 26px;
                    max-width: 700px;
                    margin: 7rem auto 4rem;
                }

                &::after {
                    content: "";
                    width: 40%;
                    height: 5px;
                    border: solid 1px #fff;
                    display: block;
                    margin: 0 auto;
                    margin-top: 3rem;
                    border-radius: 5px;
                    opacity: 1;
                    @include mq($from: desktop) {
                        width: 250px;
                        height: 12px;
                        margin-top: 6rem;
                    }
                }
            }
        }

        // .product__set
        &__set {
            position: relative;
            display: flex;
            margin: 2rem;
            // margin-top: 2rem;
            border-radius: 9px;
            box-shadow: 0 1px 32px 0 rgba(0, 0, 0, 0.07);
            background-color: #fff;
            overflow: hidden;
            order: 7;
            @include mq($from: desktop) {
                width: 700px;
                margin: 2rem auto;
            }
            // .product__set-img
            &-img {
                flex-basis: 40%;
                min-height: 180px;
                @include mq($from: desktop) {
                    flex-basis: 45%;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    aspect-ratio: 1;
                }
            }
            // .product__set-meta
            &-meta {
                padding: 1rem;
                flex-basis: 60%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-bottom: 4rem;
                @include mq($from: desktop) {
                    flex-basis: 55%;
                    padding: 2rem;
                    margin-bottom: 5rem;
                }
            }
            // .product__set-title
            &-title {
                font-family: $blaak;
                font-size: 20.8px;
                font-weight: 900;
                line-height: 1;
                text-align: left;
                color: #000;
                position: relative;
                margin-bottom: 0.5rem;
                display: block;
                text-transform: lowercase;
                width: 80%;
                @include mq($from: desktop) {
                    font-size: 42px;
                }
                &::after {
                    content: "";
                    width: 40%;
                    border: 1px solid #000;
                    height: 5px;
                    display: block;
                    border-radius: 5px;
                    margin-top: 0.4rem;
                    @include mq($from: desktop) {
                        height: 6px;
                        margin-top: 1.25rem;
                    }
                }

                a {
                    color: #000;
                    text-decoration: none;
                }
            }
            // .product__set-text
            &-text {
                font-family: $lekton;
                font-size: 13px;
                font-weight: bold;
                line-height: 1.14;
                letter-spacing: 0.2px;
                text-align: left;
                color: #000;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                @include mq($from: desktop) {
                    font-size: 20px;
                }
            }
            // .product__set-icon
            &-icon {
                position: absolute;
                top: 5%;
                right: 4%;
                @include mq($from: desktop) {
                    top: 8%;
                }

                svg {
                    @include mq($from: desktop) {
                        transform: scale(1.75);
                    }
                }
            }
            // .product__set-buy
            &-buy {
                position: absolute;
                bottom: 10px;
                width: auto;
                left: 0;
                right: 0;
                margin: auto 10px;

                @include mq($from: desktop) {
                    bottom: 1rem;
                    margin: auto 1rem;
                }

                .product-size-modal-button {
                    font-family: $lekton;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    color: #fff;
                    border-radius: 9px;
                    transition: 0.1s ease-out;
                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                    @include mq($from: desktop) {
                        font-size: 26px;
                    }
                    &:active,
                    &:focus-visible {
                        background-color: #0d0c0c;
                    }
                }
                .cart-product-size-modal,
                .shop-add-to-cart-modal {
                    -webkit-backdrop-filter: blur(7px);
                    backdrop-filter: blur(7px);
                    background-color: rgba(217, 217, 217, 0.02);

                    .modal-dialog {
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        margin: 0;
                        top: unset;
                        min-height: unset;
                        @include mq($from: desktop) {
                            position: unset;
                            margin: auto;
                            min-height: -webkit-fill-available;
                        }

                        .modal-content {
                            background-color: #000;
                            padding: 2rem;

                            .modal-body {
                                padding: 0;
                                .modal-title {
                                    font-family: $blaak-black-regular;
                                    font-size: 21px;
                                    font-weight: 900;
                                    line-height: 1.2;
                                    text-align: center;
                                    color: #fff;
                                    text-transform: lowercase;
                                    margin-bottom: 1rem;
                                    @include mq($from: desktop) {
                                        font-size: 30px;
                                    }
                                    span {
                                        color: #bbcea8;
                                    }
                                }
                            }
                        }
                    }
                    .woovr-variations {
                        margin: auto;
                        display: flex;
                        justify-content: space-between;
                        width: 75%;
                        @include mq($from: desktop) {
                            width: 65%;
                        }
                        .woovr-variation {
                            &[data-id="0"],
                            &-selector,
                            &-image,
                            &-price {
                                display: none;
                            }

                            &-name {
                                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                                font-family: $lekton;
                                font-size: 35px;
                                font-weight: bold;
                                line-height: 1.37;
                                letter-spacing: 0.27px;
                                text-align: left;
                                color: #fff;
                                border-radius: 6px;
                                border: solid 4px #fff;
                                width: 70px;
                                height: 70px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-top: 3px;
                                transition: all 0.1s ease;
                                @include mq($from: desktop) {
                                    font-size: 37px;
                                    width: 80px;
                                    height: 80px;
                                }
                            }

                            &__extra {
                                display: none;
                            }

                            &:hover {
                                background-color: unset;

                                .woovr-variation-name {
                                    background-color: #fff;
                                    color: #000;
                                    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                                }
                            }

                            &-active {
                                .woovr-variation-name {
                                    background-color: #fff;
                                    color: #000;
                                    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                                }
                            }
                        }
                    }

                    .single_variation_wrap {
                        .added_to_cart.wc-forward {
                            display: none;
                        }
                    }

                    .quantity {
                        display: none !important;
                    }

                    .single_add_to_cart_button:not(.wpcbn-btn-single) {
                        display: none;
                    }

                    [name="buy-now"].single_add_to_cart_button {
                        font-family: $blaak-black-regular;
                        font-size: 14px;
                        font-weight: 900;
                        line-height: 3.5;
                        text-align: center;
                        color: #000;
                        padding: 0;
                        border: 1px solid #fff;
                        text-transform: lowercase;
                        transition: 0.1s ease-out;
                        &:hover {
                            color: #fff;
                            border: 1px solid #fff;
                            background-color: #0000;
                        }
                        @include mq($from: desktop) {
                            font-size: 24px;
                            line-height: 2.5;
                        }
                    }

                    .accordion {
                        display: none;
                    }
                }
            }

            // .product__set-header
            &-header {
                text-align: center;
                padding: 0 5rem;
                margin-top: 4rem;
                order: 6;

                @include mq($from: desktop) {
                    max-width: 650px;
                    margin: 4rem auto 2rem;
                }

                h5 {
                    font-family: $blaak;
                    font-size: 20px;
                    font-weight: 900;
                    line-height: 0.77;
                    text-align: center;
                    color: #fff;

                    @include mq($from: desktop) {
                        font-size: 35.4px;
                        margin-bottom: 2rem;
                    }
                }

                p {
                    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 1;
                    letter-spacing: 0.2px;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.5);
                    @include mq($from: desktop) {
                        font-size: 22px;
                    }
                }
            }
        }
    }
    .footer-section__image {
        margin: 4rem auto 3rem;
        @include mq($from: desktop) {
            margin: 8rem auto 3rem;
        }
    }
}
#popover-form {
    display: none;
    // .hide {
    // }
}

#shiprocket_pincode_check,
#check_pincode,
#pincode_response {
    display: none;
}

.product_cat-summer-collection.product {
    .summary {
        @include mq($until: tablet) {
            background-color: #de5386;
        }
    }

    .product__set-title a {
        color: #de5386;
    }

    .product-size-modal-button {
        span {
            color: #de5386;
        }
    }
}

.summer-collection .classic-section__category {
    @include mq($from: tablet) {
        margin: 1rem auto;
    }
}

.product-activewear {
    order: 8;
    padding: 4rem 1.5rem 0;
    .product-activewear__text {
        margin-bottom: 2rem;
        @include mq($from: tablet) {
            margin-bottom: 4rem;
        }
        .product-activewear__title {
            font-size: 20px;
            font-weight: 900;
            line-height: 0.77;
            text-align: center;
            color: #fff;
            margin-bottom: 0.5rem;
            font-family: $blaak;
            @include mq($from: tablet) {
                font-size: 35px;
            }
        }

        .product-activewear__subtitle {
            font-family: Poppins;
            font-size: 11px;
            font-weight: 300;
            line-height: 1.35;
            letter-spacing: 1.6px;
            text-align: center;
            color: #ffffffa6;
            @include mq($from: tablet) {
                font-size: 23px;
            }
        }
    }
}
@include mq($until: tablet) {
    body.single-product
        .product
        .woocommerce-product-gallery
        .flex-control-nav.flex-control-thumbs {
        left: 40px;
        right: unset;
        flex-direction: row;
        gap: 1rem;
    }
}

body.summer-collection-product
    .product
    .summary
    .cart
    .woovr-variations
    .woovr-variation__extra-title {
    color: #fff;
}
