body.single-product {
    font-family: $lekton;
    color: #fff;

    .site-main {
        margin-top: 0rem;
        @include mq($from: desktop) {
            margin-top: 6rem;
        }
    }

    .woocommerce-breadcrumb {
        display: none;
    }

    .product {
        @include mq($from: desktop) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .woocommerce-product {
            &-side__note {
                position: absolute;
                left: 20px;
                bottom: 30px;
                transform: rotate(-90deg);
                font-size: 13px;
                font-style: italic;
                line-height: 0.94;
                text-align: left;
                transform-origin: left;
                z-index: 10;
                @include mq($from: desktop) {
                    left: -20px;
                    bottom: 15px;
                }
            }

            &-details {
                &__short-description {
                    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 1.37;
                    letter-spacing: 0.2px;
                    text-align: left;
                    color: #fff;
                    @include mq($from: desktop) {
                        font-size: 18px;
                        margin-bottom: 2rem;
                    }
                }
            }
        }

        .woocommerce-product-gallery {
            width: 100%;
            margin-bottom: 1rem;
            @include mq($from: desktop) {
                margin-bottom: 0;
                flex-basis: 40%;
                width: unset;
            }
            @include mq($from: desktop-lg) {
                flex-basis: 45%;
            }

            .flex-viewport {
                @include mq($from: desktop) {
                    height: 100% !important;
                }
                .wp-post-image,
                img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 500px;
                    @include mq($from: desktop) {
                        overflow: visible;
                    }
                }
            }

            .flex-control-nav.flex-control-thumbs {
                position: absolute;
                right: 30px;
                bottom: 20px;
                display: flex;
                flex-direction: column;
                @include mq($from: desktop) {
                    top: 0;
                    left: -60px;
                    right: unset;
                    bottom: unset;
                }

                li {
                    img {
                        width: 30px;
                        height: 30px;
                        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
                        border: solid 2px rgba(255, 255, 255, 0.31);
                        background-color: rgba(255, 255, 255, 0.31);
                        border-radius: 6px;
                        margin-bottom: 1rem;
                        @include mq($from: desktop) {
                            width: 45px;
                            height: 45px;
                        }
                    }
                }
            }
        }

        .summary {
            padding: 0 2rem;
            @include mq($from: desktop) {
                flex-basis: 40%;
            }
            @include mq($from: desktop-lg) {
                max-width: 500px;
            }

            .product_title {
                font-size: 36px;
                font-weight: 900;
                line-height: 0.94;
                text-align: left;
                color: #fff;
                font-family: $blaak;
                margin-bottom: 1.7rem;
                position: relative;
                text-transform: lowercase;
                max-width: 80%;
                @include mq($from: desktop) {
                    font-size: 50px;
                    margin-bottom: 2.2rem;
                }
                &::after {
                    position: relative;
                    content: "";
                    left: 0;
                    bottom: -10px;
                    width: 30%;
                    height: 5px;
                    border: 1px solid #fff;
                    display: block;
                    border-radius: 5px;
                    @include mq($from: desktop) {
                        height: 8px;
                        width: 120px;
                        bottom: -20px;
                    }
                }
            }

            .price {
                display: none;
            }

            .cart {
                .woovr-variations {
                    display: flex;

                    .woovr-variation {
                        &[data-id="0"],
                        &-selector,
                        &-image,
                        &-price {
                            display: none;
                        }

                        &-name {
                            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                            font-family: Lekton;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 1.37;
                            letter-spacing: 0.27px;
                            text-align: left;
                            color: #fff;
                            border-radius: 3px;
                            border: solid 2px #fff;
                            width: 40px;
                            height: 40px;
                            margin-right: 1rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-top: 3px;
                            transition: all 0.5s ease;
                            @include mq($from: desktop) {
                                font-size: 26px;
                                width: 50px;
                                height: 50px;
                            }
                        }

                        &__extra {
                            display: flex;
                            flex-direction: column;
                            margin-top: 0.4rem;
                            margin-left: 0.5rem;

                            &-title {
                                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                                font-family: Lekton;
                                font-size: 13px;
                                line-height: 1.37;
                                letter-spacing: 0.2px;
                                text-align: left;
                                color: #7b7b7b;
                                @include mq($from: desktop) {
                                    font-size: 18px;
                                }
                            }

                            &-link {
                                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                                font-family: Lekton;
                                font-size: 16px;
                                font-weight: bold;
                                line-height: 1.37;
                                letter-spacing: 0.24px;
                                text-align: left;
                                color: #fff;
                                text-decoration: none;
                                @include mq($from: desktop) {
                                    font-size: 23px;
                                }
                                &::after {
                                    content: url("/wp-content/themes/kirgo-theme/assets/images/link-arrow-white.svg");
                                    display: inline-block;
                                    margin-left: 0.4rem;
                                    transform: scale(0.7) translateY(2px);
                                }
                            }
                        }

                        &:hover {
                            background-color: unset;

                            .woovr-variation-name {
                                background-color: #fff;
                                color: #000;
                                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                            }
                        }

                        &-active {
                            .woovr-variation-name {
                                background-color: #fff;
                                color: #000;
                                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                            }
                        }
                    }
                }

                .quantity {
                    display: none !important;
                }

                .single_add_to_cart_button:not(.wpcbn-btn-single) {
                    display: none;
                }

                [name="buy-now"].single_add_to_cart_button {
                    flex-grow: 0;
                    font-family: $lekton;
                    font-size: 15px;
                    font-weight: bold;
                    text-align: center;
                    color: #000;
                    @include mq($from: desktop) {
                        font-size: 23.1px;
                    }
                }
            }

            .product_meta {
                display: none;
            }
        }

        .woocommerce-tabs {
            // padding: 0 2rem;
            display: flex;
            flex-direction: column;
            @include mq($from: desktop) {
                flex-basis: 100%;
            }
            .wc-tabs {
                display: none;
            }

            .woocommerce-Tabs-panel {
                order: 3;
            }
        }

        .woocommerce-Reviews {
            @include mq($from: desktop) {
                margin: 5rem 0 2rem;
            }
            &-title {
                flex-grow: 0;
                font-family: $blaak;
                font-size: 14px;
                font-weight: 900;
                line-height: 0.94;
                text-align: left;
                color: #fff;
                margin-left: 2rem;
                display: block;
                margin-top: 2rem;
                text-transform: lowercase;
                @include mq($from: desktop) {
                    text-align: center;
                    margin-left: 0;
                    font-size: 35.4px;
                }
            }

            .commentlist {
                padding: 0;
                margin-left: 1.5rem;
                margin-top: 1rem;
                @include mq($from: desktop) {
                    margin-top: 2rem;
                    margin-left: 20rem;
                }
                .comment,
                .review {
                    list-style-type: none;
                    text-align: center;
                    width: 70%;
                    margin-right: 0.7rem;
                    border-radius: 8px;
                    border: solid 1px #050505;
                    background-color: #050505;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.5rem 1rem;
                    @include mq($from: desktop) {
                        max-width: 450px;
                        min-height: 225px;
                        padding: 2rem 2.5rem;
                    }

                    img {
                        display: none;
                    }

                    &-text {
                        display: flex;
                        flex-direction: column;

                        .meta {
                            order: 2;
                        }

                        .description {
                            font-family: $blaak;
                            font-size: 20px;
                            font-weight: 900;
                            line-height: 1.18;
                            text-align: center;
                            color: #fff;
                            margin: 1rem auto 0;
                            @include mq($from: desktop) {
                                font-size: 36.3px;
                            }
                            p {
                                margin-bottom: 0.5rem;
                            }
                        }
                    }

                    .woocommerce-review {
                        &__dash {
                            display: none;
                        }

                        &__published-date {
                            display: none;
                        }

                        &__author {
                            font-size: 13px;
                            font-weight: bold;
                            line-height: 1.37;
                            letter-spacing: 0.2px;
                            text-align: left;
                            color: rgba(255, 255, 255, 0.5);
                            @include mq($from: desktop) {
                                font-size: 23.6px;
                            }
                        }
                    }
                }
            }

            #review_form_wrapper {
                margin: 3rem 0 0;
            }

            .comment-respond {
                .comment-reply-title {
                    border-radius: 4.7px;
                    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 25%);
                    background-color: #fff;
                    display: flex;
                    margin: 0 2rem;
                    padding: 0.7rem 0;
                    align-items: center;
                    justify-content: center;
                    font-family: $lekton;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    color: #000;
                    cursor: pointer;
                    @include mq($from: desktop) {
                        max-width: 550px;
                        margin: auto;
                        font-size: 29.1px;
                        box-shadow: 0 9.1px 16.3px 0 rgb(0 0 0 / 25%);
                        border: solid 1px #fff;
                        background-color: #0000;
                        color: #fff;
                        border-radius: 8.6px;
                    }
                }
                .comment-form {
                    display: none;
                    padding: 0 2rem;
                    margin-top: 1rem;
                    @include mq($from: desktop) {
                        max-width: 550px;
                        margin: 1rem auto;
                    }

                    .comment-form-author input,
                    .comment-form-email input,
                    textarea {
                        width: 100%;
                        border-radius: 5px;
                        @include mq($from: desktop) {
                            font-size: 24px;
                        }
                    }

                    .comment-form-author input,
                    .comment-form-email input {
                        @include mq($from: desktop) {
                            height: 40px;
                        }
                    }

                    .submit {
                        border-radius: 4.7px;
                        box-shadow: 0 5px 9px 0 rgb(0 0 0 / 25%);
                        background-color: #fff;
                        padding: 0.7rem 0;
                        font-family: $lekton;
                        font-size: 16px;
                        font-weight: bold;
                        text-align: center;
                        color: #000;
                        width: 100%;
                        @include mq($from: desktop) {
                            font-size: 26px;
                        }
                    }

                    span,
                    label {
                        @include mq($from: desktop) {
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        // .product__features
        &__features {
            margin-top: 3rem;
            text-align: center;
            order: 1;
            padding: 0 2rem;
            @include mq($from: desktop) {
                max-width: fit-content;
                margin: 5rem auto;
                padding: unset;
            }

            // .product__features-title
            &-title {
                font-family: $blaak;
                font-size: 20px;
                font-weight: 900;
                line-height: 0.77;
                text-align: center;
                color: #fff;
                margin-bottom: 0.5rem;
                @include mq($from: desktop) {
                    font-size: 35.4px;
                    line-height: 27.4px;
                }
            }
            // .product__features-text
            &-text {
                text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                font-size: 13px;
                font-weight: bold;
                line-height: 1.37;
                letter-spacing: 0.2px;
                text-align: center;
                color: rgba(255, 255, 255, 0.5);
                @include mq($from: desktop) {
                    font-size: 23px;
                    line-height: 31.6px;
                }
            }
            // .product__features-list
            &-list {
                margin-top: 1.5rem;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0;
                gap: 0.5rem;
                @include mq($from: desktop) {
                    gap: 1rem;
                    margin-top: 2rem;
                }
            }
            // .product__features-item
            &-item {
                border-radius: 8.7px;
                background-color: #050505;
                padding: 1rem 0.5rem;
                min-width: 100px;
                @include mq($from: desktop) {
                    min-width: 160px;
                    padding: 2.5rem 0.5rem 1.5rem;
                }
                img {
                    margin-bottom: 1rem;
                    height: 50px;
                    width: 45px;
                    object-fit: contain;
                    @include mq($from: desktop) {
                        margin-bottom: 2rem;
                        height: 55px;
                        width: 75px;
                    }
                }
            }
            // .product__features-itemtitle
            &-itemtitle {
                flex-grow: 0;
                font-family: $blaak;
                font-size: 13px;
                font-weight: 900;
                line-height: 0.77;
                text-align: center;
                color: #fff;
                display: block;
                @include mq($from: desktop) {
                    font-size: 23px;
                    line-height: 17.8px;
                }
            }
        }

        // .product__banner
        &__banner {
            min-height: 130px;
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
            left: 0;
            margin-top: 3rem;
            order: 2;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            @include mq($from: desktop) {
                padding: 6rem 0;
            }
            // .product__banner-title
            &-title {
                text-shadow: 0 4.4px 6.6px rgba(0, 0, 0, 0.25);
                font-family: $bebas;
                font-size: 26.6px;
                line-height: 0.81;
                letter-spacing: 1px;
                text-align: left;
                text-transform: uppercase;
                max-width: 30%;
                margin-left: 2rem;
                @include mq($from: desktop) {
                    letter-spacing: 3px;
                    font-size: 105px;
                    margin-left: 10rem;
                    max-width: 430px;
                }
                @include mq($from: desktop-md) {
                    margin-left: 15rem;
                }
            }

            // .product__banner-title
            &-bottom {
                width: 100%;
                position: static;
                order: 4;

                &-title {
                    max-width: 42%;
                    margin-left: auto;
                    margin-right: 1rem;
                    font-size: 26.6px;
                    line-height: 0.81;
                    @include mq($from: desktop) {
                        font-size: 120px;
                        text-shadow: 0 16.4px 24.6px rgb(0 0 0 / 25%);
                        max-width: 650px;
                    }
                }
            }
        }

        // .product__owner
        &__owner {
            &-words {
                opacity: 0.7;
                font-family: $blaakLight;
                font-size: 13px;
                font-weight: 100;
                line-height: 1.37;
                letter-spacing: 0.2px;
                text-align: center;
                color: #fff;
                max-width: 73%;
                margin: 0 auto;
                margin-top: 4rem;
                display: block;
                position: relative;
                order: 5;
                @include mq($from: desktop) {
                    font-size: 32.6px;
                    max-width: 700px;
                    margin: 7rem auto 4rem;
                }

                &::after {
                    content: "";
                    width: 40%;
                    height: 5px;
                    border: solid 1px #fff;
                    display: block;
                    margin: 0 auto;
                    margin-top: 3rem;
                    border-radius: 5px;
                    opacity: 1;
                    @include mq($from: desktop) {
                        width: 250px;
                        height: 12px;
                        margin-top: 6rem;
                    }
                }
            }
        }

        // .product__set
        &__set {
            position: relative;
            display: flex;
            margin: 0 1.5rem;
            margin-top: 2rem;
            border-radius: 9px;
            box-shadow: 0 1px 32px 0 rgba(0, 0, 0, 0.07);
            background-color: #fff;
            min-height: 200px;
            overflow: hidden;
            order: 7;
            @include mq($from: desktop) {
                width: 700px;
                margin: 2rem auto;
                min-height: 350px;
            }
            // .product__set-img
            &-img {
                flex-basis: 40%;
                @include mq($from: desktop) {
                    flex-basis: 45%;
                }

                img {
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                    overflow: visible;
                    @include mq($from: desktop) {
                        height: 350px;
                    }
                }
            }
            // .product__set-meta
            &-meta {
                padding: 1.2rem;
                flex-basis: 60%;
                @include mq($from: desktop) {
                    flex-basis: 55%;
                    padding: 4rem 2rem;
                }
            }
            // .product__set-title
            &-title {
                font-family: $blaak;
                font-size: 20.8px;
                font-weight: 900;
                line-height: 1;
                text-align: left;
                color: #000;
                position: relative;
                margin-bottom: 0.5rem;
                display: block;
                text-transform: lowercase;
                width: 80%;
                @include mq($from: desktop) {
                    font-size: 42px;
                }
                &::after {
                    content: "";
                    width: 40%;
                    border: 1px solid #000;
                    height: 3px;
                    display: block;
                    border-radius: 5px;
                    margin-top: 0.4rem;
                    @include mq($from: desktop) {
                        height: 6px;
                        margin-top: 1.25rem;
                    }
                }
            }
            // .product__set-text
            &-text {
                font-family: $lekton;
                font-size: 13px;
                font-weight: bold;
                line-height: 1.14;
                letter-spacing: 0.2px;
                text-align: left;
                color: #000;
                @include mq($from: desktop) {
                    font-size: 28px;
                }
            }
            // .product__set-icon
            &-icon {
                position: absolute;
                top: 5%;
                right: 4%;
                @include mq($from: desktop) {
                    top: 8%;
                }

                svg {
                    @include mq($from: desktop) {
                        transform: scale(1.75);
                    }
                }
            }
            // .product__set-buy
            &-buy {
                position: absolute;
                bottom: 10px;
                width: 89%;
                left: 0;
                right: 0;
                margin: auto;

                a {
                    @include mq($from: desktop) {
                        flex-grow: 0;
                        font-family: $lekton;
                        font-size: 33.4px;
                        font-weight: bold;
                        text-align: center;
                        color: #fff;
                    }
                }
            }

            // .product__set-header
            &-header {
                text-align: center;
                padding: 0 5rem;
                margin-top: 4rem;
                order: 6;

                @include mq($from: desktop) {
                    max-width: 650px;
                    margin: 4rem auto 2rem;
                }

                h5 {
                    font-family: $blaak;
                    font-size: 20px;
                    font-weight: 900;
                    line-height: 0.77;
                    text-align: center;
                    color: #fff;

                    @include mq($from: desktop) {
                        font-size: 35.4px;
                        margin-bottom: 2rem;
                    }
                }

                p {
                    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 1;
                    letter-spacing: 0.2px;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.5);
                    @include mq($from: desktop) {
                        font-size: 27.5px;
                    }
                }
            }
        }
    }
}
